<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="dataFinish">
    <ion-slides
      [pager] = true
      [initialSlide] = 3
      [autoplay]  = 1000
      [loop] = true
    >
      <ion-slide *ngFor="let slideData of slideDataList">
        <img [src]="slideData">
      </ion-slide>

    </ion-slides>
  </div>

  <div class="menu">
    <ul>
      <li>
        <a (click)="goToChildPage(1)">
          <ion-icon name="ios-clock">

          </ion-icon>
          <p class="text">sdkfjdskjf</p>
        </a>
      </li>
      <li>
        <a>
          <ion-icon name="ios-clock">

          </ion-icon>
          <p class="text">sdkfjdskjf</p>
        </a>
      </li>
      <li>
        <a>
          <ion-icon name="ios-clock">

          </ion-icon>
          <p class="text">sdkfjdskjf</p>
        </a>
      </li>
      <li>
        <a>
          <ion-icon name="ios-clock">

          </ion-icon>
          <p class="text">sdkfjdskjf</p>
        </a>
      </li>
    </ul>
  </div>

</ion-content>
