<ion-header>

    <ion-navbar color="primary">
        <ion-title>子页面</ion-title>
    </ion-navbar>

</ion-header>
<ion-content >
    <h3>这个姿势111一个子页面</h3>
    <button ion-item (click)="goToBack()" >{{'返回上一页'}}</button>
    <button ion-item (click)="testHttpGet()" >测试http-get请求</button>
    <button ion-item (click)="testHttpPost()" >测试http-post请求</button>
  <ion-grid>
    <ion-scroll scrollX="true" >
      <ion-row>
        <ion-col  width-50>
          <ion-card >
            <img [src]="'./assets/image/qrcode.jpg'" />
            <ion-card-content>
              <ion-card-title>标题</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col  width-50>
          <ion-card >
            <img [src]="'./assets/image/qrcode.jpg'" />
            <ion-card-content>
              <ion-card-title>标题</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col  width-50>
          <ion-card >
            <img [src]="'./assets/image/qrcode.jpg'" />
            <ion-card-content>
              <ion-card-title>标题</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col  width-50>
          <ion-card >
            <img [src]="'./assets/image/qrcode.jpg'" />
            <ion-card-content>
              <ion-card-title>标题</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col  width-50>
          <ion-card >
            <img [src]="'./assets/image/qrcode.jpg'" />
            <ion-card-content>
              <ion-card-title>标题</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>




      </ion-row>
    </ion-scroll>
  </ion-grid>

  <div *ngIf="dataFinish">
    <ion-slides
      (ionSlideDidChange)="slideChanged()"
      [pager] = true
      [initialSlide] = 3
      [autoplay]  = 1000
      [loop] = true
    >
      <ion-slide *ngFor="let slideData of slideDataList">
        <img [src]="slideData">
      </ion-slide>

    </ion-slides>
  </div>

  <ion-list>
    <ion-item *ngFor="let i of items">{{i}}</ion-item>
  </ion-list>

  <ion-infinite-scroll [enabled]= 'isLoadMore' (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
